
[submodule "FastEngine/ThirdParty/SPDLog"]
	path = FastEngine/ThirdParty/SPDLog
	url = https://github.com/FastIgnitionStudios/spdlog
[submodule "FastEngine/ThirdParty/GLFW"]
	path = FastEngine/ThirdParty/GLFW
	url = https://github.com/FastIgnitionStudios/glfw.git
[submodule "FastEngine/ThirdParty/VMA"]
	path = FastEngine/ThirdParty/VMA
	url = https://github.com/FastIgnitionStudios/VulkanMemoryAllocator.git
[submodule "FastEngine/ThirdParty/ImGUI"]
	path = FastEngine/ThirdParty/ImGUI
	url = https://github.com/FastIgnitionStudios/imgui.git
[submodule "FastEngine/ThirdParty/GLM"]
	path = FastEngine/ThirdParty/GLM
	url = https://github.com/g-truc/glm.git
[submodule "FastEngine/ThirdParty/FastGLTF"]
	path = FastEngine/ThirdParty/FastGLTF
	url = https://github.com/FastIgnitionStudios/fastgltf.git
